<px-dropdown id="node" display-value="Node 10" selected-key="{{ default_node }}" value="{{ default_node }}">
    <px-dropdown-content id="node-selection" extend-dropdown='true' 
            extend-dropdown-by='25' max-cont-character-width='10' items='{{ nodes }}'>
    </px-dropdown-content>
</px-dropdown>

