<!-- <link rel="import" href="{{ url_for('bower.static',
filename='polymer/polymer.html') }}" /> -->
<link rel="import" href="{{ url_for('bower.static', filename='px-theme/px-theme-styles.html') }}" />
<link rel="import" href="{{ url_for('bower.static', filename='px-dropdown/px-dropdown.html') }}" />
<link rel="import" href="{{ url_for('bower.static', filename='px-spinner/px-spinner.html') }}" />
<link rel="import" href="{{ url_for('bower.static', filename='px-vis-timeseries/px-vis-timeseries.html') }}" />
