<px-dropdown display-value="Select Sensor(s)" checkbox-mode="true">
    <px-dropdown-content id="sensor-selection" checkbox-mode='true' extend-dropdown='true' extend-dropdown-by='25'
            max-cont-character-width='10'
            items='{{ sensors }}'>
    </px-dropdown-content>
</px-dropdown>

