<px-vis-timeseries id="volcanograph"
    include-all-series="true"
    height="446"
    selection-type="xy"
    chart-data="{{ initial_data }}"
    chart-extents='{"x":["dynamic","dynamic"],"y":["dynamic","dynamic"]}'
    chart-horizontal-alignment="center"
    x-axis-config='{"ticks":5}'
    chart-vertical-alignment="center"
    margin='{"top":20,"bottom":20,"left":65,"right":65}'
    navigator-config='{"xAxisConfig":{"ticks":5}}'
></px-vis-timeseries>
