// Settings
@import "px-colors-design/_settings.colors.scss";

// Tools

// Generic
@import "px-normalize-design/_generic.normalize.scss";
@import "px-box-sizing-design/_generic.box-sizing.scss";
@import "px-helpers-design/_generic.helpers.scss";

// Base
@import "px-flexbox-design/_base.flexbox.scss";
@import "px-viewport-design/_base.viewport.scss";
@import "px-typography-design/_base.typography.scss";

// Meta

// Objects

// Component
@import 'px-buttons-design/_objects.buttons.scss';

// Customization
$inuit-enable-responsive-margins--huge : true;
$inuit-enable-responsive-paddings : true;
$inuit-enable-layout--center : true;
$inuit-enable-layout--middle : true;

// Trumps
@import 'px-layout-design/_objects.layout.scss';
@import "inuit-clearfix/_trumps.clearfix.scss";
@import "px-spacing-responsive-design/_trumps.spacing-responsive.scss";
@import "px-widths-responsive-design/_trumps.widths-responsive.scss";
