<div class="flex flex--row footer__container" style="background: #2c404c; color: #b6c3cc">&nbsp;</div>
<div class="flex flex--row flex--spaced flex--top footer__container" style="background: #2c404c; color: #b6c3cc">
    <div class="flex flex--left">
        <span class="footer"><a
href="https://www.ge.com/digitalvolcano/">Digital Volcano Story</a></span>
    </div>
    <div class="flex flex--left">
        <span class="footer"><a href="/docs/html/index.html">Documentation</a></span>
    </div>
    <div class="flex flex--left">
        <span class="footer"><a href="https://github.com/PredixDev/predix-volcano-app">Source Code</a></span>
    </div>
    <div class="flex flex--right">
        <span class="footer__copy">&copy;2017 General Electric</span>
    </div>
</div>
<div class="flex flex--row footer__container" style="background: #2c404c; color: #b6c3cc">&nbsp;</div>
