    <link rel="import" href="{{ url_for('static', filename='ge-svg-logo.html') }}">
    <link rel="import" href="{{ url_for('static', filename='predix-logo.html') }}">

    <header role="banner" class="flex flex--middle" style="background: #2c404c;
    color: #b6c3cc">
        <div class="viewport flex">
            <h3 class="flex__item weight--normal"><ge-svg-logo
                class="u-mr--"></ge-svg-logo> Digital Volcano App</h3>
            <div class="flex__item">
                <div class="flex" style="text-align:center;">
                    <h3 class="flex__item weight--normal logo">Powered by
                        <a href="http://predix.io" target="_new"><predix-logo style="display:inline-block; width: 82px;"
                        class="flex__item"></predix-logo></a></h3>
        </div>
    </header>

